# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.pyc

# Node
node_modules/
frontend/dist/
frontend/.vite/

# Environment
.env
*.env.local

# DB
*.sqlite3

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
